.rect {
  stroke: #000000;
  stroke-width: 1;
}

.room {
  fill: #a8a8a8;
  cursor: not-allowed;
}

.locked {
  fill: #488aff;
  cursor: not-allowed !important;
}

.reserved {
  fill: #e46312;
  cursor: not-allowed !important;
}

.open {
  fill: #006B54;
  cursor: pointer;
}

.cubeText {
  alignment-baseline: middle;
  font-size: 12px;
  font-weight: 700;
  stroke: none;
  fill: #FFFFFF;
}

.cubeIdText {
  alignment-baseline: middle;
  font-size: 10px;
  font-weight: 700;
  stroke: none;
  fill: #000000;
  opacity: 0.2;
}

.cubeIdText:hover {
  opacity: 1;
  font-size: 12px
}

.roomText {
  alignment-baseline: middle;
  font-size: 12px;
  font-weight: 700;
  stroke: none;
  fill: #000000;
  cursor: not-allowed;
}

.headerEndButtons{
  width: 200px;
  z-index: auto;
}

.allowedCursor {
  cursor: pointer;
}

.notAllowedCursor {
  cursor: not-allowed;
}
