<!--
  Generated template for the ReservePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button icon-only (click)="scanQRCode()">
        <ion-icon name="camera"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Reserve a Cubicle</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="viewType">
    <ion-segment-button value="map">
      Map
    </ion-segment-button>
    <ion-segment-button value="list">
      List
    </ion-segment-button>
  </ion-segment>

  <div style="overflow: auto" *ngIf="viewType==='map'">
    <svg width="855" height="875" *ngIf="!scanningQRCode">
      <svg:g cube-svg *ngFor="let cubicle of cubicles | async" [cubeData]="cubicle" [locate]="locateUser"
      [attr.transform]="'translate('+cubicle.xPosition+','+cubicle.yPosition+')'" (click)="toggleCube(cubicle)"></svg:g>
    </svg>
  </div>
  <ion-list *ngIf="viewType==='list'">
    <ion-item-sliding *ngFor="let cubicle of cubicles | async">
      <ion-item [ngClass]="{'list-locate': locateUser && (cubicle.person === locateUser || cubicle.cubeId === locateUser)}">
        <h2 *ngIf="!cubicle.person">Hotel Cube - {{cubicle.cubeId}}</h2>
        <h2 *ngIf="cubicle.person">{{cubicle.personName}}</h2>
        <ion-icon item-end name="map" style="cursor:zoom-in" (click)="locateCube(cubicle)"></ion-icon>
        <button *ngIf="!cubicle.person" ion-button color="primary"  item-end (click)="toggleCube(cubicle)">
            <ion-icon name="add"></ion-icon>
            &nbsp; Reserve
          </button>

          <button *ngIf="cubicle.person == user?.uid" ion-button color="warning"  item-end (click)="toggleCube(cubicle)">
            <ion-icon name="add"></ion-icon>
            &nbsp; Release
          </button>
      </ion-item>
      <!-- <ion-item-options side="left">
        <button ion-button color="primary" (click)="reserveCubicle(i)">
          <ion-icon name="text"></ion-icon>
          Reserve
        </button>
      </ion-item-options>
      <ion-item-options side="right">
        <button ion-button color="secondary" (click)="releaseCubicle(i)">
          <ion-icon name="mail"></ion-icon>
          Release
        </button>
      </ion-item-options> -->
    </ion-item-sliding>
  </ion-list>
</ion-content>
