.rect {
  stroke: #000000;
  stroke-width: 1;
}

.room {
  fill: #a8a8a8;
  cursor: not-allowed;
}

.locked {
  fill: lighten(#a8a8a8,20);
  cursor: not-allowed !important;
}

.reserved {
  fill: #e46312;
  cursor: not-allowed !important;
}

.reservedByCurrentUser {
  cursor: pointer !important;
}

.located {
  fill: #006B54 !important;
  stroke: #000000;
  stroke-width: 2;
}

.list-locate{
  background-color: #006B54;
  color: #FFFFFF;
  font-weight: 700;
}

.open {
  fill: #488aff;
  cursor: pointer;
}

.cubeText {
  font-size: 12px;
  font-weight: 700;
  stroke: none;
  fill: #FFFFFF;
}

.locked .cubeText {
  fill: #000000;
}

.located .cubeText {
  fill: #ffffff;
}

.cubeIdText {
  font-size: 10px;
  font-weight: 700;
  stroke: none;
  fill: #000000;
  opacity: 0.10 !important;
}

.cubeIdText:hover {
  opacity: 1 !important;
  font-size: 12px
}

.roomText {
  font-size: 12px;
  font-weight: 700;
  stroke: none;
  fill: #000000;
  cursor: not-allowed;
}

.headerEndButtons{
  width: 200px;
  z-index: auto;
}

.allowedCursor {
  cursor: pointer;
}

.notAllowedCursor {
  cursor: not-allowed;
}
