<ion-header>
  <ion-navbar>
    <ion-buttons end>
        <button ion-button icon-only (click)="scanQRCode()">
          <ion-icon name="camera"></ion-icon>
        </button>
      </ion-buttons>
    <ion-title>Reserve a cubicle</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="listContent">
    <ion-list>
        <ion-item-sliding *ngFor="let cubicle of cubicles | async; index as i">
          <ion-item >
            <ion-avatar item-start>
                <ion-icon [name]="icons[i]"></ion-icon>
            </ion-avatar>
            <h2>     Hotel Cube #{{i+1}} <span *ngIf="cubicle.personName"> - {{cubicle.personName}} </span> </h2>
            <p> {{cubicle.team}}</p>
            <button *ngIf="!cubicle.person" ion-button color="primary"  item-end (click)="reserveCubicle(i)">
                <ion-icon name="add"></ion-icon>
                &nbsp; Reserve
              </button>

              <button *ngIf="cubicle.person == user.uid" ion-button color="primary"  item-end (click)="releaseCubicle(i)">
                <ion-icon name="add"></ion-icon>
                &nbsp; Release
              </button>
          </ion-item>
          <!-- <ion-item-options side="left">
            <button ion-button color="primary" (click)="reserveCubicle(i)">
              <ion-icon name="text"></ion-icon>
              Reserve
            </button>
          </ion-item-options>
          <ion-item-options side="right">
            <button ion-button color="secondary" (click)="releaseCubicle(i)">
              <ion-icon name="mail"></ion-icon>
              Release
            </button>
          </ion-item-options> -->
        </ion-item-sliding>
      </ion-list>
</ion-content>
