<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Reserve a cubicle</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item-sliding *ngFor="let cubicle of cubicles | async; index as i">
          <ion-item >
            <ion-avatar item-start>
                <ion-icon [name]="icons[i]"></ion-icon>
            </ion-avatar>
            <h2>      Cubicle {{i+1}}</h2>
            <p> {{cubicle.team}}</p>
            <button *ngIf="!cubicle.person" ion-button color="primary"  item-end (click)="reserveCubicle(i)">
                <ion-icon name="add"></ion-icon>
                &nbsp; Reserve
              </button>
          </ion-item>
          <ion-item-options side="left">
            <button ion-button color="primary" (click)="reserveCubicle(i)">
              <ion-icon name="text"></ion-icon>
              Reserve
            </button>
          </ion-item-options>
          <ion-item-options side="right">
            <button ion-button color="secondary" (click)="releaseCubicle(i)">
              <ion-icon name="mail"></ion-icon>
              Release
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>



<!-- 
  <ion-list>
    <button ion-item *ngFor="let cubicle of cubicles; index as i">
      Cubicle {{i+1}} ({{cubicle.team}})
      <div class="item-note" item-end>
         {{cubicle.personName}}
      </div>
    </button>
  </ion-list> -->
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
