<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Where are you today?</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-md>
          <ion-card (click)="selectLocation('HOME')" class="allowedCursor">
              <img src="assets/imgs/home.jpeg"/>
              <div class="card-title">Home</div>
            </ion-card>
      </ion-col>

      <ion-col col-12 col-md>
          <ion-card (click)="selectLocation('OFFICE')" class="allowedCursor">
              <img src="assets/imgs/office.jpeg"/>
              <div class="card-title">Office</div>
              <div class="card-subtitle">{{emptyCubeCount}} empty cubicles</div>
            </ion-card>
      </ion-col>
    </ion-row>
    <ion-title *ngIf="myTeamsAndTeammates?.length">Your teams and teammates</ion-title>
    <ion-row *ngIf="myTeamsAndTeammates?.length">
      <ion-col col-4 *ngFor="let team of myTeamsAndTeammates">
        <ion-list>
          <ion-item-group>
            <ion-item-divider color="primary"><b>{{team.name}}</b></ion-item-divider>
            <ion-item *ngFor="let teammate of team.members">
              <h6>{{teammate.name}}</h6>
              <button ion-button round small item-end (click)="locateTeammate(teammate)">Locate</button>
            </ion-item>
          </ion-item-group>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
